body {
    background: #808080;
    color: #fff;
    transition: background 0.3s, color 0.3s;
    margin-bottom: 60px;
}

.logo {
    width: 300px;
    margin-bottom: 20px;
    transition: filter 0.3s;
}

.fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    padding-top: 70px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.column {
    padding: 10px;
}

#contact {
    margin-bottom: 100px;
}

#contact a {
    color: #fff;
}

.dark-mode #contact a {
    color: #000;
}

.dark-mode {
    background: #fff;
    color: #000;
}

.dark-mode .logo {
    filter: invert(1);
}

.dark-mode a {
    color: #bbb;
}

.dark-mode .social-icons a {
    color: #000 !important;
}

#darkModeToggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

.modal-content {
    background: #333;
    color: #fff;
}

.youtube-subscribe-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer {
    background: #333;
    position: fixed;
    bottom: 0;
    height: 3%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.scrolling-text {
    overflow: hidden;
    white-space: nowrap;
    animation: scrollText 3s linear;
}

@keyframes scrollText {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-100%);
    }
}

/* Events Section Styles */
#events {
    text-align: center;
    padding: 20px;
}

.event-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.event-card {
    max-width: 300px;
    margin: 20px;
    padding: 10px;
    background: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.dark-mode .event-card {
    background: #333; /* Darker background color for each event card */
    color: #fff; /* Light text color for each event card */
}

.event-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Style for the "Buy Tickets" button */
.event-card .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.event-card .btn:hover {
    background-color: #0056b3; /* Button background color on hover */
}




/* Adjust the styling as needed */

